<h1>This is the Teams Index page!</h1>

  <div class="team_index">
    <ul class="team_index">
    <% @teams.each do |team| %>
      <li><%= link_to team.name, team %></li>
    <% end %>
    <ul>
  </div>